# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tracsense-backend/node_modules
tracsense-backend/.pnp
tracsense-backend/.pnp.js

# testing
tracsense-backend/coverage

# production
tracsense-backend/build

# misc
tracsense-backend/.DS_Store
tracsense-backend/.env.local
tracsense-backend/.env.development.local
tracsense-backend/.env.test.local
tracsense-backend/.env.production.local

tracsense-backend/npm-debug.log*
tracsense-backend/yarn-debug.log*
tracsense-backend/yarn-error.log*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tracsense-frontend/node_modules
tracsense-frontend/.pnp
tracsense-frontend/.pnp.js

# testing
tracsense-frontend/coverage

# production
tracsense-frontend/build

# misc
tracsense-frontend/.DS_Store
tracsense-frontend/.env.local
tracsense-frontend/.env.development.local
tracsense-frontend/.env.test.local
tracsense-frontend/.env.production.local

tracsense-frontend/npm-debug.log*
tracsense-frontend/yarn-debug.log*
tracsense-frontend/yarn-error.log*
